.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("../../assets/paper-texture-background-zlvqcgwohwvd642j.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
