.wrapper {
  padding: 20px;
}

.title {
  font-weight: 300;
  text-align: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topButton {
  margin-top: 1rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 10px 40px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
}

.product img {
  width: 5rem;
  border-radius: 15px;
  padding-right: 1rem;
}

.productName {
  font-size: 2rem;
}

.price {
  font-size: 2rem;
}

.summary {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  padding-right: 13rem;
}

.order {
  margin: 2rem;
  margin-right: -2rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 10px 40px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .productName {
    font-size: 1rem;
  }
  .price {
    font-size: 1rem;
  }
  .summary {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    padding-right: 7rem;
    font-size: 1rem;
  }
}
